<?php
  $config = array (
    language 		=> "en",
    theme		=> "default",
    # two examples for date format - the last one will be used
    dateFormat 		=> "F d Y H:i:s",
    dateFormat 		=> "Y-m-d H:i:s",

    mailSenderName	=> "SiFiEx",
    mailSenderEmail	=> "yourEmail@example.com",
    mailInfoPassword	=> TRUE,

    hiddenSuffix 	=> ".txt",
    showOngoing		=> FALSE,

    version		=> file_get_contents("version.txt")
  );
?>
