body {
  padding:0.5em;
  background-image:url(images/bg.gif);
}
h1 {
  color:red;
}

div {
}

h1 {
  margin-top:0;
  height:75px;
  line-height:75px;
  font-wight:bold;
  font-size:30px;
  padding-left:120px;
  text-decoration:none;
  color:black; 
  background-image:url(images/SiFiExLogo.png);
  background-repeat:no-repeat;
}

h1 a {
  text-decoration:none;
  color:black;
}

#expandUploadForm {
  float:right;
}

#expandUploadForm input {
  border:1px solid #000;
  background-color:#00f;
  color:#fff;
  padding:0.2em;
  margin-left:0.5em;
}

#uploadForm {
  clear:right;
  float:right;
  width:22em;
  background-color:#bbf;
  border:1px solid black;
  padding:0.5em;
}

#messageBox {
  overflow:hidden;
  float:left;
  width:12em;
}

#files {
  margin-left:13em;
  margin-right:0.5em;
}

#faq {
  border:1px solid #444;
  background-color:#ddd;
  padding:0.5em;
  clear:both;
  margin-top:2em;
}

.deleteButton {
  border:1px solid black;
  background-color:#f00;
}

.renameButton {
  border:1px solid black;
  background-color:yellow;
}

#greeting {
  border:1px dotted black;
  background-color:#00f;
  color:#fff;
  font-weight:bold;
}

.warning {
  background-color:#f55;
  border:1px solid darkred;
  margin-top:0.2em;
}
.ongoing {
  overflow:hidden;
  background-color:#ff0;
  border:1px dotted #aa0;
  margin-top:0.2em;
} 

.success {
  overflow:hidden;
  background-color:#0f0;
  border:1px solid #0a0;
  margin-top:0.2em;
} 

#footer {
  border-top:1px solid #aaa;
  clear:both;
  font-style:italic;
  font-size:0.7em;
}

th {
  background-color:#444;
  color:#fff;
}

th a {
  text-decoration:none;
  color:#fff;
}

table {
  border:3px solid black;
}

td {
  padding:0.3em;
}

td form {
  display:inline;
}

tr {
  border-bottom:1px solid black;
}  

tr.even {
  background-color:#fff;
}

tr.odd {
  background-color:#ddd;
}

